/*Import link for the Roboto font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


/*Import link for the Mukta font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


body {
    background-color: white;
    overflow-x: hidden;
    /*Hides the bottom left right scroll bar when elements stretch beyond the screen border*/
}

/*NAVBAR*/
li {
    display: inline;
    padding: 5px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    Font-weight: 700;
    text-shadow: 1px .5px 4px rgba(41, 36, 41, 0.5);
    color: white;
    text-decoration: none;
    /*removes the underline from the links*/
}

a:hover {
    color: #d7eaf7;
    /*changes the color of the link when hovered over*/
}

.nav-bar {
    background-color: #216391;
    padding-top: 10px;
    padding-bottom: 10px;
    /*The following minus margins stretch the navbar beyond the web browser screen edge*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    /*creates a sticky navbar that stays at the top of the page when scrolling*/
    top: 0;
    /*sets the navbar to the top of the page*/
    z-index: 9;
    /*sets the navbar to be on top of other elements*/
}

/*Creates a line under the Home and Contact us links to separate them from image links*/
#nav-border {
    padding-bottom: 10px;
    border-bottom: 3px solid #FFFFFF;
}

/*HEADERS*/
h1,
h2,
h3 {
    color: #0a3f63;
    text-align: center;
    font-family: "Mukta", sans-serif;
    /*Font from google.com*/
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    font-size: 45px;
    margin-top: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
}

#contact-h3 {
    text-shadow: none;
}

/*Creates a text color change animation on the h1 tags for the home and contact page headers*/
@keyframes color-text {
    0% {
        color: #b5e1ff;
    }

    100% {
        color: #0a3f63;
    }
}

/*calls the animation by its name in a CSS selector so it can be applied to a specific HTML element*/
.animate-text {
    animation: color-texts 4s;
}

/*BODY CONTENT*/

img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 19);
}

.column {
    float: left;
    width: 48%;
    /*places images side by side*/
    padding: 10px;
    /*adds space between the images*/
}

/*Groups elements inside a div element together and forces any floating elements under it with this class selector*/
.container {
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    /*padding adds an inline space so the elements don't sit on the edge of the div*/
    padding-bottom: 10px;
}

/*This is part of the .container class selector to format the elements to display in a table like format*/
.container::after {
    content: "";
    clear: both;
    display: table;
}

/*Sets up the size of each div that holds an image so the image can be centered*/
.image-container {
    position: relative;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 500px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    /*sets the background color of the overlay to black with a transparency of 60%*/
}

/*hover pseudo class changes the opacity of the overlay when the mouse hovers over it*/
.overlay:hover {
    opacity: 0.6;
    position: absolute;
}

/*sets the background color of each div that holds an image*/
#cat {
    background-color: #d7eaf7;
}

#dog {
    background-color: #c3e0c5;
}

#rabbit {
    background-color: #c3e0c5;
}

#guinea-pig {
    background-color: #d7eaf7;
}

#fish {
    background-color: #d7eaf7;
}

#reptile {
    background-color: #c3e0c5;
}
/*this targets the video on the page*/
iframe {
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

/*styles the div element that holds the video*/
#video{
    background-color: #c3e0c5;
    padding-top: 5px; /*adds an inline space so the elements don't sit on the edge of the div*/
    padding-bottom: 50px; 
}

/*FOOTER*/
footer {
    background-color: #216391;
    margin-top: 50px;
    margin-left: -10px;/*values are negative to stretch the footer beyond the screen edge*/
    margin-right: -10px;
    bottom: 0; /*places the footer at the bottom of the page*/
    
}

/*styles the table elements within the footer*/
table {
    width: 100%;
}

td {
    text-align: center;
    width: 33% /*columns divided equally into thirds*/;
}
/* styles the paragraph elements within the table*/
td p {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

/*FORM CSS*/
form{
    padding: 15px;
    display: table;
    margin: auto;
}

input{
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10pz 15px 10px 0px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    transition: color 0.3s ease-out;
}

/*the focus psuedoclass is triggered when a user clicks on an input element*/
input:focus{
    box-sizing: border-box;
    outline: none;
    border: 2px solid #0a3f63;
    color: black;
    transition: 0.3s ease-in;
}

/*Styles the label tag on contact form*/
label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10px;
}
/*Styles the text area element on the contact form*/
textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background: #FFFFFF;
    font-family:'Roboto', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    resize: both;
    transition: color 0.3s ease-out;
}

/*applies different styles to the textarea when it is focused*/
textarea:focus{
    box-sizing: border-box;
    outline: none;
    border: 3px solid #0a3f63;
    color: black;
    transition: 0.3s ease-in;
}
/*styles the submit button on the contact form*/
input[type="submit"]{
    background-color: #0a3f63;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    float: right;
}

/*applies different styles to the submit button when it is hovered over*/
input[type="submit"]:hover{
    background-color: #052133;
    color: #0a3f63;
    transition: 0.3s ease-in;
}

#favicon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    /*aligns the favicon with the text*/
}